.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Form CSS begins here */
form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(243, 243, 243);
  width: 71%;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
}
form input {
  background-color: rgb(243, 243, 243);
  border: 1px solid grey;
  padding: 0.2rem;
  border-radius: 4px;
}
form select {
  background-color: rgb(243, 243, 243);
  border: 1px solid grey;
  padding: 0.2rem;
  border-radius: 4px;
}

form > div > p {
  text-align: left;
  font-weight: bold;
}

.personal__details__one {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: left;
}

.personal__details__two {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: left;
  margin-top: 1rem;
}

.contact__details__one {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: left;
}

.address__details__one {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: left;
  margin-top: 1rem;
}
.address__details__two {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: left;
  margin-top: 1rem;
}

.other__details__one {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: left;
}
.nationality {
  text-align: left;
  margin-top: 1rem;
}

@media screen and (max-width: 950px) {
  form {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
  }

  form div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  form label {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  form input,
  form select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
@media screen and (max-width: 420px) {
  .form__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .form__buttons > button {
    width: 100%;
  }
}

/* Form button styling */
.form__buttons {
  margin-top: 3rem;
  text-align: end;
}
.form__buttons > button:first-child {
  border: 1px solid red;
  color: red;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.4rem 1.5rem;
  margin-right: 3rem;
}
.form__buttons > button:first-child:hover {
  border: 1px solid red;
  color: white;
  background-color: red;
}
.form__buttons > button:last-child {
  border: 1px solid green;
  color: white;
  background-color: green;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.4rem 1.5rem;
}
.form__buttons > button:last-child:hover {
  border: 1px solid green;
  color: green;
  background-color: rgb(243, 243, 243);
}

/* Data List component CSS begins here */
.data__list__header {
  text-align: center;
  font-size: 2rem;
  color: #7c6a00;
}
table {
  border-collapse: collapse;
  width: 100%;
  min-width: 800px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #fdd808;
}

tr:nth-child(odd) {
  background-color: #f7fae5; /* Set the background color of even rows */
}

tr:hover {
  background-color: #daf7d1;
}

.table-container {
  overflow-x: auto;
}
